body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

html{
  box-sizing: border-box;
}

@font-face {
  font-family: "Graphik";
  src: url(./Fonts/Graphik-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Graphik";
  src: url(./Fonts/Graphik-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Graphik";
  src: url(./Fonts/Graphik-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Graphik";
  src: url(./Fonts/Graphik-Regular.ttf);
  font-weight: 400;
}

h1{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p{
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3{

  display: block;
  font-size: 0em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

input[type="email" i] {
  padding: 0;
}
input[type="text" i] {
  padding: 0;
}

button{
  padding: 0;
  border-width: 0px;
  border-style: none;
  border-image: none;
  border-color: unset;
}
input[type="password" i] {
  -webkit-text-security: disc !important;
  padding: 0;
}
